<h1> Edit Post. </h1>

<form>
  <div class="field-group">
    <label>Title</label>
    {{input type="text" value=model.title}}
  </div>

  <div class="field-group">
    <label>Body</label>
    {{textarea value=model.body cols="80" rows="6"}}
  </div>

  <button {{action save}}>Save</button>
</form>

<span {{action cancel}}>Cancel</span>
