<div class="col-md-12">
  {{#link-to 'posts' classNames="btn btn-default"}} Back {{/link-to}}

  <h1> {{format-markdown title}} </h1>
  <p> {{format-markdown body}} </p>
  {{format-timeago createdAt}}
  <br/>

  {{#link-to 'post.edit' this classNames="btn btn-default"}}
    Edit
  {{/link-to}}
</div>
