<div class="col-md-12">

  <ul class="list-group">
    {{#each post in controller}}
      <li class="list-group-item">
        {{#link-to 'post.index' post}}
          {{post.title}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>

  {{#link-to 'posts.new' classNames="btn btn-default"}} New {{/link-to}}
</div>
